{% extends 'base.html' %}

{% block title %}
Все автомобили
{% endblock %}

{% block content %}
<br>
<div class="container mt-5">
  <h1 class="text-center">Все автомобили</h1><br>
    {% if cars %}
    <table class="table">
        <thead>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>            
            <th>Detail</th>
        </thead>
        <tbody>
            {% for car in cars  %}            
                <tr>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.year }}</td>
                    <td>{{ car.color }}</td>                    
                    <td><a href="/cars/{{ car.id }}" class="btn btn-warning">Детальнее</a> </td>
                </tr>                      
            {% endfor %}
        </tbody>
    </table>
   {% else %}
   {% endif  %}
</div>
{% endblock %}
