{% extends 'base.html' %}

{% block title %}
Страница оплаты
{% endblock %}

{% block content %}
<br><br><br>
<div class="container text-center">
  <h1 class="text-center">Оплата</h1>
</div>
<form method="post">
    <div>
        <label for="card_number">Номер карты:</label>
        <input type="text" id="card_number" name="card_number">
    </div>

    <div>
        <label for="expiry_date">Срок действия:</label>
        <input type="text" id="expiry_date" name="expiry_date">
    </div>

    <div>
        <label for="cvv">CVV код:</label>
        <input type="text" id="cvv" name="cvv">
    </div>

    <div>
        <input type="submit" value="Оплатить">
    </div>
</form>
{% endblock %}
